@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: var(--font-sans), system-ui, sans-serif;
}

:root {
  --subject-politics: #ef4444;
  --subject-english: #3b82f6;
  --subject-math: #f59e0b;
  --subject-cs: #10b981;
}
